.App {
  text-align: center;
  background-color: #282c34;
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 700;
  src: url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff)
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Nanum Myeongjo";
  font-weight: normal;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo")
    format("woff2");
}

/*CDN 웹 폰트 적용*/
@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic+Coding&family=Nanum+Pen+Script&display=swap");

@font-face {
  font-family: "JSongMyung";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/jikji/JSongMyung.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SANJUGotgam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
